/* Стили для страницы prices.html */

:root {
  /* Задаём фирменный жёлтый цвет как основной */
  --main-color: rgb(255, 191, 2);
  --red-color: rgb(254, 98, 70);
  --icon-color: rgb(39, 180, 252);
}

.prices-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.prices-table {
  margin-top: 75px;
}

.prices-list__item:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.prices-list__item:focus {
  outline: none;
}

.prices-title {
  margin-bottom: 35px;
}

.price-header {
  position: relative;
  display: flex;
  background-color: var(--main-color);
  cursor: pointer;
}

.price-header::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  margin-top: -1px;
  border-radius: 50%;
  top: 50%;
  right: 17px;
  background-color: #f9f9f9;
  transform: translateY(-50%);
  transition: background-color .2s linear, box-shadow .2s linear;
}

.price-header:hover .price-title,
.prices-list__item:focus .price-title {
  text-decoration: underline;
}

.price-header:hover .price-title::before,
.prices-list__item:focus .price-title::before {
  transform: translateY(-50%) scale(1);
}

.prices-list__item:focus .price-header::after,
.price-header:hover::after {
  background-color: #f1f1f1;
  box-shadow: 0 0 7px #6e6e6e;
}

.price-title {
  position: relative;
  width: 100%;
  margin: auto 0;
  padding: 25px 75px 25px 25px;
  font-family: 'open-sans-condensed', sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  transition: color .2s linear;
}

.price-title::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%) scale(.9);
  right: 17px;
  background: url('../img/svg/arrow_top.svg') no-repeat center;
  background-size: contain;
  transition: transform .2s linear;
  z-index: 1;
}

.prices-list__item.active .price-title::before {
  transform-origin: center;
  transform: translateX(3%) translateY(-55%) rotate(180deg);
}

.price-content {
  height: 0;
  visibility: hidden;
  line-height: 32px;
  opacity: 0;
  transition: opacity .2s linear, padding-top .2s linear, padding-bottom .2s linear, transform .2s linear;
}

.prices-list__item.active .price-content {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.price-table {
  width: 100%;
  border: 1px solid #d1d1d1;
  border-top: none;
  border-collapse: collapse;
}

.price-table__row {
  display: flex;
  justify-content: space-between;
}

.price-table__row:nth-child(odd) {
  background-color: #f1f1f1;
}

.price-table__row:nth-child(even) {
  background-color: #e1e1e1;
}

.price-table__cell {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.price-table__cell:first-of-type {
  width: 65%;
}

.price-table__cell:last-of-type {
  width: 35%;
  border-left: 1px solid #c1c1c1;
  font-family: 'open-sans-condensed', sans-serif;
  font-size: 24px;
}

@media (max-width: 576px) {

  .prices-table {
    margin-top: 25px;
  }

  .price-title {
    font-size: 28px;
  }

  .price-table__cell:first-of-type {
    width: 60%;
  }

  .price-table__cell:last-of-type {
    width: 40%;
    font-size: 20px;
  }
}